
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-weight: bold;
}
.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
}
.current, .dots {
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  justiy-content: space-between;
  padding: 20px 10px 0px 10px;
  background-color: WhiteSmoke;
}
input[type="text"] {
  background-color : #fff;
}
