
.searchbox-row {
  display: flex;
  /* min-height: 60px; */
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
.searchbox-center {
  justify-content: center;
}

.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
}

.current, .dots {
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
}

#advanced-search {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justiy-content: space-between;
  background-color: WhiteSmoke;
  border-width: 0.25px;
  border-color: gray;
  border-style: solid;
}

input[type="text"] {
  background-color : #fff;
}

#advanced-search input[type="text"], #advanced-search select {
  width: 80%;
  margin-left: 15px;
  float: left;
}
#advanced-search label {
  font-weight: bold;
  display: inline;
  /* float: left; */
}
